{% extends "base.html" %}
{% block title %}About{% endblock title %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h1>About Us</h1>
				</div>
                <div class="image-section">
                    <img src="/static/img/14.jfif">
                </div>
				<div class="content">
					<h3>Making coding better for everyone</h3>
					<p>Our mission is to empower developers with high quality applied learning opportunities at scale, and nurture the talent for the future.

                        We are building a platform that would fundamentally change the way tech is learnt through our “work-like” Micro-Experiences. Crio Micro-Experiences provide an environment optimised for learning, with real world problems curated from the industry.
                    </p>
					<div class="button">
						<a href="">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>
{% endblock body %}